*{
  margin: 0;
  padding: 0;
}
html, body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Lato',sans-serif;
    overflow-x: hidden;
}
#whatsapp {
  position: fixed;
  top: 80%;
  right: 1%;
  z-index: 200;
}