*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lato',sans-serif;
}

.container  {
    width:100% ;
    /* padding: 20px; */
}


.box-parrafos > p{
    color:rgba(30,33,61,.7);
    line-height: 2;
    font-size: 18px;
    padding: 0px 10px;
}
.box-parrafos > a{
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    display: block;
    background:#EF7373;
    width: 50%;
    text-align: center;
    margin: 0px auto;
    border-radius: 8px;
    color: white;
    font-size: 18px;
}
.box-parrafos > a:hover{
    transform: scale(1.1);
}

h1{
    color:#EF7373;
}

h2{
    font-size: 48px;
}

.col{
    margin: 20px 0px;
}