@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
 .fa-facebook-f,.fa-twitter,.fa-linkedin{
    color: #311b1b;
    font-size: 20px;
}


  *{
      margin: 0;
      padding: 0;
      box-sizing:border-box;
  }
  
  :focus{
      outline: none;
  }
  
  body{
      background: #DBDBDB;
      font-family: 'Open sans';
  }



  body {
    background-color: #fff
  }
  
  .home {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(https://images.unsplash.com/photo-1446771326090-d910bfaf00f6?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=9216e1a8598a8530ce329b41a8f3725d);
    background-size: cover;
    background-position: center center;
  }
  /* SECION MENU */
.navbar {
    width: 100%;
    padding: 20px;
	background-color: #1e213d;
	box-sizing: border-box;
}
  
.navbar .contenido {
	max-width: 1024px;
	display:flex;
    justify-content: space-between;
    align-items: center;
	margin: 0 auto;
}
.bars ul {
	display: flex;
	align-items: center;
	list-style: none;
	justify-content: space-between;
	padding: 0;
	padding-left: 4px;
}


.bars ul li a {
	text-decoration: none;
	color:#a2a3b7;
	transition: 1s;
    display: block;
    font-family: 'Lato',sans-serif;
    font-weight: 500;
    margin: 0px 20px;
    font-size: 16px;
    margin-top: 8px;
}
.bars ul li a:hover {
	text-decoration: none;
	color:white;
}


div.title {
	display: flex;
	align-items: flex-end;
	margin-left: 60px;
}
div.title a {
	text-decoration: none;
	color: white;
}
div.title h2{
	padding: 0;
	margin: 0;
}

 i.bars-button {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	display: none;
	position: fixed;
	z-index: 99;
	left: 25px;
	top: 15px;
	color: white;
	cursor: pointer;
}
body{
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}
/* ===================================== */

form{
    /* border: 2px solid #1e213d; */
    padding: 20px 10px;
    box-shadow: -1px 3px 10px 0px #1e213d;
}
.form-contact{
    width: 95%;
    max-width: 600px;
    margin: 20px auto;
    background: white;
    border-radius: 5px;
    border-radius: 7px;
}
.form-contact .form-titulo{
    background: #1e213d;
    font-size: 24px;
    color: white;
    font-weight:400;
    padding: 10px;
    text-align: center;
    border-bottom: 5px solid #EF7373;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px
}

.form-subtitulo{
    font-size: 16px;
    text-align: start;
    color: #1e213d;
    font-family: 'Lato',sans-serif;
    margin-top: 10px;
    font-weight: regular;
    text-align: center;
}
.contenedor-inputs{
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contenedor-inputs textarea,.contenedor-inputs input[type="text"],.contenedor-inputs input[type="email"],.contenedor-inputs input[type="tel"]{
    margin-bottom: 15px;
    padding: 15px;  
    font-size: 14px;
    border: none;
    margin: 5px;
    border-bottom: 1px solid #1e213d;
    color:#1e213d ;
    font-family: 'lato',sans-serif;
}
.contenedor-inputs textarea{
    resize: vertical;
    min-height: 60px;
    max-height: 300px;
    border: none;
    border-bottom: 1px solid #1e213d;
}

.input-48{
width: 48%;
}

.input-100{
    width: 100%;
}
input.btn-contactanos {
    background: #1e213d;
    padding: 20px 40xp;
    color: white;
    margin: 10px auto;
    
}

input[type="submit"]{
    padding: 10px 30px;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
    transition: background 300ms;
}
input[type="submit"]:hover{
    background:#EF7373;
    transition: background 300ms;
}

.form-contact .link-acepto{
    font-size: 15px;
    padding: 0px 20px;
    margin: auto;
    text-align: center;
    font-family: 'Lato',sans-serif;
}


@media screen and (max-width: 768px) {
    .navbar .contenido {
        justify-content: flex-end;
    } 

    i.bars-button {
        display: block;
        display: flex;
        position: absolute;
        /* justify-content: center;
        align-items: center; */
    }
    .bars {
        position: fixed;
        background: #1e213d;
        z-index: 98;
        top: 0;
        left: -100vw;
        width: 100vw;
        bottom: 0;
        display: flex;
        justify-content: center;
        transition: .3s;
        
    }
   
    .bars.is-active {
        left: 0;
    }
    .bars ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bars ul li {
        padding: 5px;
         transition: background 300ms;
    }
    .bars ul li a {
        color: white;
        font-weight: 700;
        text-decoration: none;
        font-size: 1.6em;
        
    }
    .bars ul li:hover{
        background: #EF7373;
        border-radius: 5px;
        transition: background 400ms;
    }

    div.title h2 {
        padding: 10.5px;
    }

    
body{
    overflow-x: hidden;
}


.contenedor-inputs textarea,.contenedor-inputs input[type="text"],.contenedor-inputs input[type="email"],.contenedor-inputs input[type="tel"]{
    width: 100%;
}



}


  
  /* Ventana de errores*/
  .modal_wrap{
      width: 100%;
      height: 100vh;
      background: rgba(0,0,0,0.7);
  
      position: fixed;
      top: 0;
      left: 0;
      z-index: 3;
  
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .mensaje_modal{
      background: #fff;
      box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
      width: 400px;
      padding: 30px 20px 15px;
  }
  
  .mensaje_modal h3{
      text-align: center;
      font-family: 'Ubuntu';
      font-size: 20px;
      font-weight: 400;
  }
  
  .mensaje_modal h3:after{
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: #C5C5C5;
      margin: 10px 0px 15px;
  }
  
  .mensaje_modal p{
      font-size: 16px;
      color: #606060;
  }
  
  .mensaje_modal p:before{
      content: "\f00d";
      font-family: FontAwesome;
      display: inline-block;
      color: #E25151;
      margin-right: 8px;
  }
  
  #btnClose{
      display: inline-block;
      padding: 3px 10px;
      margin-top: 10px;
      background: #E25151;
      color: #fff;
      border: 2px solid #B14141;
      cursor: pointer;

  }
  
  /* MENSAJE EXITOSO*/
  
  .mensaje-exito{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  .mensaje-exito h1{
      font-size: 35px;
      display: block;
      text-align: center;
      margin-bottom: 20px;
  }
  
  .mensaje-exito a{
      display: block;
      padding: 10px 30px;
      background: #4091EC;
      text-decoration: none;
      color: #fff;
  }
  
  .mensaje-exito a:hover{
      background: #3371B6;
  }

  /* SECION FOOTER */
  .col_white_amrc { color:#FFF;}
footer { 
    width:100%; 
    background-color:#EF7373;
    min-height:200px;
    padding:10px 0px 25px 0px; 
    margin-top:50px ;
    position: relative;
}
.pt2 { 
    padding-top:40px ; 
    margin-bottom:20px ;
}
footer p { 
    font-size:13px;
    color:#1e213d;
    padding-bottom:0px; 
    margin-bottom:8px;
}


.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#1e213d;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc  li  p a.links-footer{color: white;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}