#blog{
    background-color: #f2f2f2;
}
.blog-img-1 {
    background-image: url("../../img/fondo-otros-examenes.jpg");
    height: 280px;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    position: relative;
}
.blog-img-2 {
    background-image: url("../../img/fondo-otros-cursos.jpg");
    height: 280px;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    position: relative;
}
.blog-title{
    background-color: transparent;
    font-weight: bold;
    font-size: 22px;
    color: #1e1f3f;
    text-align: center;
}
.blog-title span{
    color:  #ef7373;
}
.blog-button{
  display: block;
  width: 250px;
  min-width: 180;
  background: #1e213d;
  margin: 10px auto;
  text-align: center;
  padding: 10px  5px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  transition: background 300ms;
  text-decoration: none;
}
.blog-button:hover{
  background: #EF7373;
  transition: background 300ms;
}