.preparate-examen-img {
  background-image: url("../../img/persona.jpg");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  position: relative;
  margin: 10px;
  padding: 20px;
}
.preparate-examen-text {
  padding: 20px;
}

.preparate-examen-text h5 {
  font-weight: bold;
}
.preparate-examen-text p {
  padding: 10px;
  text-align: justify;
}
.preparate-examen-button {
  display: block;
  width: 200px;
  margin: 20px auto;
  background: #98acf8;
  text-align: center;
  color: white;
  border-radius: 5px;
  padding: 10px 0px;
  -webkit-box-shadow: -1px 3px 10px 0px #000;
  -moz-box-shadow: -1px 3px 10px 0px #000;
  transition: transform 300ms;
  text-decoration: none;
}
.preparate-examen-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 300ms;
  font-weight: bold;
  background: #ef7373;
}
